
.icon-check {
  color: #29A03B;
}

.icon-cancel-circled {
  color: #D43833;
}

#file-loader {
  font-size: 12px;
}

span.reload {
  margin-top: 0px !important;
  font-size: 14px !important;
}
button.reload {
  padding-top: 4px;
  padding-bottom: 0px;
  padding-right: 10px;
}

/*
  Test specific CSS
*/

.test-results {
  padding: 5px;
}
.test-results .test {
  margin: 5px;
  margin-top: 10px;
}

.test-results .test .passfail {
  width: 20px;
  float:left;
}

.test-results .test .test-header {
  font-size: 14px;
  font-weight: bold;
}
.test-results .test .test-column {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
.test-results .test .test-value {
  font-weight: bold;
  font-family; Courier;
}