/* Theme: EJ Minimal */

.CodeMirror { color: #414141; }
/*.CodeMirror { background: #DADADA; }*/
.CodeMirror-cursor { color: #1E9ADA; }
.CodeMirror-activeline-background { background: #FFFFFF !important; }
.CodeMirror-selected { background: #FFFFFF; }
.cm-comment { background: #BAB9BB; color: #353535; }
.cm-string { color: #000000; }
.cm-string-2 { }
.cm-property { }
.cm-qualifier { color: #C08060; }
.cm-tag { background: #D1D1D1; color: #61797F; }
.cm-attribute { color: #999999; }
.cm-number { fontStyle: bold underline; color: #F00058; }
.cm-keyword { color: #21267F; }
.cm-operator { color: #999999; }
.cm-error { fontStyle: underline; color: red; }
.cm-invalidchar { fontStyle: underline; color: #FF0000; }
.cm-variable { background: #F2F2F2; color: #000000; }
.cm-variable-2 { color: #0080FF; }
